<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <title>MovieGraph</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Jura|Orbitron" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'scores/style.css' %}" />
  </head>
  <body class="grid-x grid-padding-x">
    <header class="small-12 cell">
      <a href="{% url 'scores:index' %}"><h1>Movie + Graph</h1></a>
    </header>
    <main class="small-12 cell grid-x">
      <section class="error">

      </section>

      {% block content %}
      {% endblock %}

    </main>
    <footer class="small-12 cell">
      <small>&copy; Isabel Suchanek, 2018</small>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      var anonImageUrl = "{% static 'scores/images/profile.jpg' %}";
    </script>

    <script src="{% static 'scores/app.js' %}" type="text/javascript"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
