{% extends 'scores/base.html' %}
{% load static %}

{% block content %}
<div class="home grid-x align-middle align-center">

<div class="form-wrapper init grid-x small-12 cell align-middle align-center">

  <form class="grid-x grid-margin-x small-8 large-6 cell align-top home" action="{% url 'scores:search' %}" method="get" id="search-graph-form">

    <div class="grid-y small-12 cell">
      <input type="search" name="start-from" value="{{ start_from|default:'Kevin Bacon' }}" id="start-from" list="actor-list1" class="small-12 cell" required/>
      <datalist id="actor-list1"></datalist>
      <span class="error small-12 cell">
      {% if error.start_fom %}
        <p class="error start-from">
          {{ error.start_from }}
        </p>
      {% elif error.both %}
        <p class="error both">
          {{ error.both }}
        </p>
      {% endif %}
      </span>
    </div>

    <div class="grid-y small-12 cell">
      <input type="search" name="search-for" id="search-for" list="actor-list2" placeholder="Name" value="{{ search_for }}" class="small-12 cell" required/>
      <datalist id="actor-list2"></datalist>
      <span class="error small-12 cell">
      {% if error.search_for %}
        <p class="error">
          {{ error.search_for }}
        </p>
      {% endif %}
      </span>
    </div>

    <div class="grid-y small-12 cell">
      <button type="submit" class="button start small-12 cell" id="search-graph">Bacon Score</button>
    </div>
  </form>
</div>
</div>

{% endblock %}
