{% extends 'scores/base.html' %}

{% block content %}

{% if error_message %}
  <p class="error">
    {{ error_message }}
  </p>
{% endif %}

<form action="{% url 'scores:validate_name' %}" method="get" id="search-graph-form">

  <input type="search" name="start_from" value="Kevin Bacon" disabled />
  <label for="search-for">Name</label>
  <input type="search" name="search-for" id="search-for" placeholder="Name"/>
  <button type="submit" class="button" id="search-graph">Search</button>
</form>

{% if search_for %}
  <p>
    Searching for {{ search_for }}
  </p>
  <p>
    Name: {{ actor_name }}
  </p>
  <p>
    Id: {{ actor_id }}
  </p>
  <p>
    Born: {{ actor_birth_year}}
  </p>
{% endif %}

{% endblock %}

{% block javascript %}

{% endblock %}
