{% extends 'scores/base.html' %}
{% load static %}

{% block content %}

<!-- <section class="error grid-x small-12 cell align-bottom">
  <span class="small-12 large-5 cell">
  {% if error.start_fom %}
    <p class="error start-from">
      {{ error.start_from }}
    </p>
  {% elif error.both %}
    <p class="error both">
      {{ error.both }}
    </p>
  {% endif %}
  </span>
  <span class="small-12 large-5 cell">
  {% if error.search_for %}
    <p class="error">
      {{ error.search_for }}
    </p>
  {% endif %}
  </span>
</section> -->

<form class="grid-x grid-margin-x small-12 cell align-top" action="{% url 'scores:search' %}" method="get" id="search-graph-form">


<!-- {% if error.start_from %}
  <p class="error start small-12 cell">
    {{ error.start_from }}
  </p>
{% endif %} -->
  <div class="grid-y small-12 large-5 cell">

    <input type="search" name="start-from" value="{{ start_from|default:'Kevin Bacon' }}" id="start-from" list="actor-list1" class="small-12 cell" required/>
    <datalist id="actor-list1"></datalist>
    <span class="error small-12 cell">
    {% if error.start_fom %}
      <p class="error start-from">
        {{ error.start_from }}
      </p>
    {% elif error.both %}
      <p class="error both">
        {{ error.both }}
      </p>
    {% endif %}
    </span>
  </div>


    <!-- <label for="search-for" class="small-4 cell">Name</label> -->
    <!-- {% if error.search_for %}
      <p class="error end small-12 cell">
        {{ error.search_for }}
      </p>
    {% endif %} -->
  <div class="grid-y small-12 large-5 cell">

    <input type="search" name="search-for" id="search-for" list="actor-list2" placeholder="Name" value="{{ search_for }}" class="small-12 cell" required/>
    <datalist id="actor-list2"></datalist>
    <span class="error small-12 cell">
    {% if error.search_for %}
      <p class="error">
        {{ error.search_for }}
      </p>
    {% endif %}
    </span>
  </div>

  <div class="grid-y small-12 large-2 cell">

    <button type="submit" class="button small-12 cell" id="search-graph">Search</button>
  </div>

</form>

<section class="path grid-x small-12 cell align-center">
{% if path %}
  <h3 class="small-12 cell score">
    Bacon Score: {{ path|length }}
  </h3>
  <ul class="actors grid-x small-12 cell align-center">
  {% for step in path %}
    <li class="grid-x small-12 cell align-center">
      <div class="image-container photo">
        <a href="http://www.imdb.com/name/{{ step.actor.0.id }}" target="_blank">
          {% if step.actor.1 %}
            <img src="{{ step.actor.1 }}" alt="photo of {{ step.actor.0.primary_name }}" class="images profile-photos" />
          {% else %}
            <img src="{% static 'scores/images/profile.jpg' %}" alt="no photo available" class="images profile-photos" />
          {% endif %}
          <div class="overlay grid-x align-middle">
            <span class="overlay-text small-12 cell"><p>{{ step.actor.0.primary_name }}</p></span>
          </div>
        </a>
      </div>
    </li>
    <p class="connector">
      was in
    </p>
    <ul class="movies grid-x small-12 cell align-center">
    {% for movie in step.movies %}
      <li class="grid-x small-3 cell align-center">
        <div class="image-container poster">
          <a href="http://www.imdb.com/title/{{ movie.0.id }}" target="_blank">
            {% if movie.1 %}
              <img src="{{ movie.1 }}" alt="poster for {{ movie.0.primary_title }}" class="images posters" />
            {% else %}
              <img src="{% static 'scores/images/no_image_avail.png' %}" alt="no image available" class="images posters" />
            {% endif %}
            <div class="overlay grid-x align-middle">
              <span class="overlay-text small-12 cell"><p>{{ movie.0.primary_title }}, {{ movie.0.start_year }}</p></span>
            </div>
          </a>
        </div>
      </li>
    {% endfor %}
    </ul>
    <p class="connector">
      with
    </p>
  {% endfor %}
    <li class="grid-x small-12 cell align-center">
      <div class="image-container photo">
        <a href="http://www.imdb.com/name/{{ path_end.0.id }}" target="_blank">
          {% if path_end.1 %}
            <img src="{{ path_end.1 }}" alt="photo of {{ path_end.0.primary_name }}" class="images profile-photos"/>
          {% else %}
            <img src="{% static 'scores/images/profile.jpg' %}" alt="no photo available" class="images profile-photos" />
          {% endif %}
          <div class="overlay grid-x align-middle">
            <span class="overlay-text small-12 cell"><p>{{ path_end.0.primary_name }}</p></span>
          </div>
        </a>
      </div>
    </li>
  </ul>
{% endif %}
</section>

{% endblock %}
